* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilrey";
}

html,
body {
  height: 100%;
}

h1 {
  color: blueviolet;
}

h2 {
  color: red;
}

#box1 {
  height: 150px;
  width: 150px;
  background-color: blue;
}

#box2 {
  height: 150px;
  width: 150px;
  background-color: green;
  border-radius: 10%;
}
